In [2]:
import boto3

In [3]:
boto3?

In [4]:
s3_client = boto3.client('s3')

In [5]:
#boto3.client('lkfslkfl') UnknownServiceError
#S3 URI s3://spc93.s3.bucket.tmp1/data/cm19668-5/724349.nxs

In [6]:
s3_resource = boto3.resource('s3')

In [25]:
#first_bucket_name = 's3://spc93.s3.bucket.tmp1'
bucket = 'spc93.s3.bucket.tmp1'
file = 'data/cm19668-5/724349.nxs'

#s3_resource.Object(bucket, file).download_file('/home/spc93/tmp/tmp4') # Python 3.6+
s3_resource.Object(bucket, file).download_file('/home/spc93/tmp/' + '724349.nxs')

In [26]:
import sys
sys.path.append('/dls_sw/apps/scisoftpy/2.7')
sys.path.append('/dls_sw/i16/software/python')
from dlstools import *
from dlstools.pdnx import *
from matplotlib.pyplot import *

from dlstools.quickfit import *
import matplotlib.pyplot as plt

#%matplotlib inline
%matplotlib notebook
#%matplotlib nbagg

#p='/dls/i16/data/2020/cm26473-2/%i.nxs'
n = pdnx('/home/spc93/tmp/' + '724349.nxs')

=== Importing dlstools package

In [27]:
n

     count_time   kphi  maxval   maxx   maxy   path  roi2_maxval  roi2_maxx  roi2_maxy  roi2_sum        sum
0           0.5  -90.0    44.0  469.0  103.0    1.0         39.0       44.0       23.0   49151.0  1879809.0
1           0.5  -89.5    44.0  407.0   70.0    2.0         37.0       46.0       40.0   49251.0  1875618.0
2           0.5  -89.0    47.0  308.0  121.0    3.0         36.0       30.0       43.0   49050.0  1868081.0
3           0.5  -88.5    45.0  468.0   68.0    4.0         38.0       48.0       15.0   49027.0  1875992.0
..          ...    ...     ...    ...    ...    ...          ...        ...        ...       ...        ...
717         0.5  268.5    45.0  461.0   71.0  718.0         38.0        5.0        4.0   50131.0  1905821.0
718         0.5  269.0    46.0  458.0  154.0  719.0         37.0       12.0       22.0   49762.0  1897443.0
719         0.5  269.5    44.0  413.0   63.0  720.0         38.0       11.0        1.0   50072.0  1901823.0
720         0.5  270.0    44.0  425.0   49.0  721.0         39.0       39.0       48.0   49815.0  1885824.0

[721 rows x 11 columns]

In [22]:
s3_resource.Object?

In [ ]:
# set up credentials and config files under .aws on home (via NX)
# region is prpbably wrong - need to check format
# Invalid endpoint: https://s3.EU (Ireland) eu-west-1.amazonaws.com - fixed now? 

# test with real bucket. How to specify user?